<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="QrAguas.Properties.Settings.qraguasConnectionString"
      connectionString="server=remotemysql.com;user id=Eokyqg6ZCC;database=Eokyqg6ZCC"
      providerName="MySql.Data.MySqlClient" />
    <add name="QrAguas.Properties.Settings._FernandoPCn53ta" connectionString="server=remotemysql.com;user id=Eokyqg6ZCC;password=Dv52jhpAld;persistsecurityinfo=True;database=Eokyqg6ZCC"
      providerName="MySql.Data.MySqlClient" />
    <add name="QrAguasCnn" connectionString="server=remotemysql.com;user id=Eokyqg6ZCC;persistsecurityinfo=True;password=Dv52jhpAld;database=Eokyqg6ZCC"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
