<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <connectionStrings>
    <add name="cnn" connectionString="server=Fernando-PC;user id=fernando;password=123456; persistsecurityinfo=True;database=0ybkkaeeke"
      providerName="MySql.Data.MySqlClient" />
    <add name="QrAguas.Properties.Settings._0YbKKAeekeConnectionString"
      connectionString="server=remotemysql.com;user id=0YbKKAeeke;password=Aqhx0syv8q;database=0YbKKAeeke"
      providerName="MySql.Data.MySqlClient" />
    <add name="QrAguas.Properties.Settings.qraguasConnectionString"
      connectionString="server=localhost;user id=root;database=0YbKKAeeke"
      providerName="MySql.Data.MySqlClient" />
    <add name="QrAguas.Properties.Settings._0ybkkaeekeConnectionString1_QrAguasLocalDatabase"
      connectionString="server=Fernando-PC;user id=root;persistsecurityinfo=True;database=0ybkkaeeke"
      providerName="MySql.Data.MySqlClient" />
    <add name="QrAguas.Properties.Settings._0ybkkaeekeCnn" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=0ybkkaeeke"
      providerName="MySql.Data.MySqlClient" />
    <add name="QrAguas.Properties.Settings._FernandoPCn53ta" connectionString="server=Fernando-PC;user id=fernando;password=123456;persistsecurityinfo=True;database=0ybkkaeeke"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>
