<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="cnn" connectionString="Data Source=localhost;Initial Catalog=QRAGUAS;Persist Security Info=True;User ID=root;Password="
      providerName="System.Data.MySqlClient" />
    <add name="QrAguas.Properties.Settings.qraguasConnectionString"
      connectionString="server=localhost;user id=root;database=qraguas"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>